#profbookIcon {
    margin: auto;
    margin-top: 37px;
    margin-bottom: 37px;
    width: 150px;
}

.title {
    text-align: center;
    font-size: 50px;
}

.button {
    display: block;
    margin: auto;
    width: 200px;
}